.about_bam{
    height: 100%;
    background-image: url(../../../Assets/bg2.png);
    max-width: 1440px;
    min-height: 1458px;
    background-position: center -450px;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding: 50px 20px;
    [class*='header']{
        font-family: 'Pilotka';
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 90%;
        text-transform: uppercase;
        color: #0495CE;
        padding: 130px 450px 0 55px;
        text-align: center;
        span{
            padding-left: 240px;
        }
    }
    .description{
        font-size: 42px;
        line-height: 140%;
        text-transform: uppercase;
        color: #1F1F1F;
        margin-top: 20px;
        padding-left: 285px;
        z-index: 2;
        position: relative;
    }
    .bam_info{
        display: flex;
        flex-direction: row;
        margin-top: -30px;
        gap: 142px;
        .wedding{
            max-width: 533px;
            position: relative;
            top: 159px;
            height: 100%;
            img{
                width: 100%;
            }
            .here{
                max-width: 422px;
                margin-top: 33px;
                margin-left: 120px;
                display: inline-block;
                font-family: 'Alistair-Signature';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 83.5%;
                color: #989797;
            }
        }
        .employees{
            height: 100%;
            overflow:visible;
            max-width: 646px;
            div{
                height: 100%;
                img{
                    width: 100%;
                    height: auto;
                    opacity: 0.38;
                }
                .bg{
                    position: relative;
                    top: -414px;
                    right: -10%;
                    width: 100%;
                    height: 411px;
                    background-image: url('../../../Assets/embg.png');
                    opacity: 0.77;
                    background-position: 100% 0;
                    background-repeat: no-repeat;
                }
            }
            .portal{
                color: #1F1F1F;
                font-size: 28px;
                line-height: 140%;
                margin-top: -380px;
            }
            .tell{
                font-weight: 400;
                line-height: 160%;
                color: #1F1F1F;
                margin-top: 35px;
            }
        }
    }
}
@media (max-width: 1439px){
    .about_bam{
        .bam_info{
            gap: 60px;
            .employees{
                max-width: 646px;
                order: 0;
                min-height: 930px;
                div{
                    min-height: inherit;
                    .bg{
                        display: none;
                    }
                    .portal{
                        margin-top: 20px;
                    }
                    .tell{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px){
    .about_bam{
        .description{
            font-size: 22px;
            padding-left: 60px;
        }
        .bam_info{
            margin-top: 0;
            flex-direction: column;
            .wedding{
                max-width: 100%;
                order: 1;
                top:0;
                .here{
                    font-size: 24px;
                    max-width: none;
                }
            }
            .employees{
                max-width: 100%;
                order: 0;
                min-height: 930px;
                div{
                    img{
                        opacity: 1;
                    }
                    .bg{
                        display: none;
                    }
                }
                .portal, .tell{
                    margin-top: 10px;
                }
            }
        }


}
}
@media (max-width: 900px){
    .about_bam [class*=header] {
        font-size: 40px;
    }
}
