.share{
    min-height: 1513px;
    background-color: #164385;
    [class*='_container']{
        max-width: 1440px;
        margin: 0 auto;
        min-height: inherit;
        background-image: url('../../../Assets/bg3.png');
        background-position: 0 -271px;
        padding: 116px 0 0 0;
        h1{
            font-family: 'Pilotka';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            text-transform: uppercase;
        }
        .vk{
            width: 335px;
            height: 54px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            background: #0077FF;
            border-radius: 8px;
            border: none;
            font-family: inherit;
            font-size: 16px;
            line-height: 20px;
            margin: 97.5px auto 60px auto;
            img{
                flex: none;
                flex-grow: 0;
            }
            .auth{
                flex-grow: 1;
                color: #FFFFFF;
                
            }
        }
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            .col{
                display: flex;
                flex-direction: column;
        input{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 15px;
            gap: 10px;
            width: 420px;
            height: 45px;
            background: #FFFFFF;
            border: 1px solid rgba(255, 255, 255, 0.6);
            border-radius: 4px;
        }
        label{

        }
    }
    }
    }
}