.share{
    min-height: 1513px;
    background-color: #164385;
    [class*='_container']{
        max-width: 1440px;
        margin: 0 auto;
        min-height: inherit;
        background-image: url('../../../Assets/bg3.png');
        background-position: 0 -271px;
        padding: 116px 0 0 0;
        h1{
            font-family: 'Pilotka';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 60px;
            text-align: center;
            text-transform: uppercase;
        }
        .vk{
            width: 335px;
            height: 54px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0px 8px;
            background: #0077FF;
            border-radius: 8px;
            border: none;
            font-family: inherit;
            font-size: 16px;
            line-height: 20px;
            margin: 97.5px auto 60px auto;
            img{
                flex: none;
                flex-grow: 0;
            }
            .auth{
                flex-grow: 1;
                color: #FFFFFF;
                
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        max-width: 870px;
        margin: 0 auto;
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            margin-bottom: 32px;
            .col{
                display: flex;
                flex-direction: column;
                .icon{
                    height: 50px;
                    margin-bottom: 10px;
                    position: relative;
                }
                .icon::before{
                    content: "";
                    height: 23px;
                    left: 15px;
                    position: absolute;
                    top: 44%;
                    transform: translateY(-50%);
                    width: 22px;
                    background: url('../../../Assets/map.svg');
                }
                
    }
    }
    .story{
        box-sizing: border-box;
        padding: 12px 15px;
        min-height: 201px;
        width: 100%;
        resize: none;
        margin-bottom: 32px;
    }
    }

    label{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
    }
}
::placeholder{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
.input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 15px;
    gap: 10px;
    width: 420px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;

}
.input[class*='with_icon']{
    padding-left: 45px;
}
.from::-webkit-calendar-picker-indicator{
    display: none;
}