main{
    height: 100%;
}
.first_screen{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.content{
    height: calc(100vh - var(--load-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pilotka';
    font-weight: 400;
    color: white;
    letter-spacing: 0.4em;
    background-image: url(../../Assets/BG1.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    .years{
        position: relative;
        top: 25px;
        font-size: 87px;
        line-height: 110px;
    }
    .abbreviation{
        font-size: 250px;
        line-height: 315px;
    }
    
}