main{
    height: 100%;
}
.first_screen{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
