.instruction{
        
    span{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: 2px solid #FFFFFF;
        border-radius: 22px;    
        margin-right: 13px;
    }
}