.navbarmenu{ 

    ul{
        min-width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        li:not(:last-child){
            margin-right: 32px;
        }
    }
}