.load_history{
    height: var(--load-height);
    background-color: #E61723;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        img{
            margin-right: 14px;
        }
    }
}