.content{
    height: calc(100vh - var(--load-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pilotka';
    font-weight: 400;
    color: white;
    letter-spacing: 0.4em;
    background-image: url(../../../Assets/BG1.png);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    .years{
        position: relative;
        top: 170px;
        font-size: calc(70px + 17 * (100vw / 1920));
        line-height: 110px;
    }
    .abbreviation{
        position: relative;
        top: 130px;
        font-size: calc(130px + 120 * (100vw / 1920));
        line-height: 315px;
    }
    .play{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        gap: 10px;
        margin-top: 150px;
        
        img{
            width: 66px;
            height: 66px;
        }
    }
    .mouse{
        position: absolute;
        left: 60px;
        bottom: calc(var(--load-height) + 22px);
    }
}
@media (max-width: 425px){
    .content{
        .years{
            top: 145px;
        }
        .abbreviation{
            top: 100px;
            font-size: calc(130px + (120 + 20 * 0.7) * ((100vw - 375px)/1980));
        }
        .mouse{
            display: none;
        }
        .play{
            margin-top: 100px;
        }
    }
}