body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}
body, html{
  height: 100%;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'Pilotka';
  src: url(./Assets/Pilotka.ttf);
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}
:root{
  --load-height: 111px;
}