body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}
body, html{
  height: 100%;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'Pilotka';
  src: url(./Assets/Pilotka.ttf);
}
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
}
:root{
  --load-height: 111px;
}