.partners{
    background-image: url('../../../Assets/bg4.png');
    background-position: center 40px;
    background-repeat: no-repeat;
    padding-top: 96px;
    .partners_header{
        text-align: center;
        color: black;
        font-family: 'Pilotka';
        font-size: calc(32px + 16 * (100vw / 1920))
    }
    .partners_cards{
        min-height: 273px;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 99px auto;
        max-width: 1440px;
        .card{
            display: flex;
            flex-direction: column;
            height: 273px;
            width: 444px;
            gap: 45px;
            align-items: center;

            .part_logo{
                height: 150px;
                display: flex;
                div{
                    margin: auto;
                }
            }
            .part_text{
                display: flex;
                text-align: center;
                font-style: normal;
                font-weight: 400;
            }
        }
        .card:first-child .part_text{
            max-width: 15rem;
        }
        
        .card:last-child .part_text{
            max-width: 22rem;
        }
        .card:not(:last-child){
           border-right: 2px solid #989797;
        }
        
    }
}
@media (max-width: 425px){
    .partners{
        .partners_cards{
            flex-direction: column;
            margin: 84px auto;
            .card{
                width: 273px;
                max-width:inherit;
                .part_text{
                    max-width: 273px;
                }
            }
            .card:not(:last-child){
                max-width: 273px;
                border-right: none;
                border-bottom: 2px solid #989797;
            }
        }
    }
}