.partners{
    background-image: url('../../../Assets/bg4.png');
    background-position: center 40px;
    background-repeat: no-repeat;
    padding-top: 96px;
    .partners_header{
        text-align: center;
        color: black;
        font-family: 'Pilotka';
        font-size: 48px;
    }
    .partners_cards{
        height: 273px;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 99px auto;
        max-width: 1440px;
        .card{
            display: flex;
            flex-direction: column;
            height: 273px;
            width: 444px;
            gap: 45px;
            align-items: center;

            .part_logo{
                height: 150px;
                display: flex;
                div{
                    margin: auto;
                }
            }
            .part_text{
                display: flex;
                text-align: center;
                font-style: normal;
                font-weight: 400;
            }
        }
        .card:first-child .part_text{
            width: 15rem;
        }
        .card:nth-child(2) .part_text{
            width: 12rem;
        }
        .card:last-child .part_text{
            width: 22rem;
        }
        .card:not(:last-child){
           border-right: 2px solid #989797;
        }
        
    }
}